body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
}

.container-fluid {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #282c34;
	min-height: 100vh;
	height: 100%;
	color: white;
	text-align: center;
}
